<div class="row" style="margin-top:10px;">
  <ol class="breadcrumb">
  <li><a href="index.html">Home</a></li>
  <li><a href="#">My Account</a></li>
  <li class="active">Change password</li>
  </ol>

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
      
        <div class="container-fluid" style="padding-top:15px;padding-bottom:20px">
  <% if flash[:errors].present? %>
  <div class="alert alert-danger" role="alert" style="margin-top:5px;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <ul>
      <% flash[:errors].each do |k,v|%>
      <li><%= "#{k}:" %>
        <ul>
          <% v.each do |v2| %>
          <li><%= "#{v2}" %></li>   
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% if flash[:error].present? %>
  <div class="alert alert-danger" role="alert" style="margin-top:5px;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= flash[:error] %>
  </div>
  <% end %>

  <% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert" style="margin-top:5px;">
    <button type="button" class="close" data-dismiss="alert">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= render partial: "form_change_password"  %>
</div>
        
      </div>
    </div>
  </div>
</div>