<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-bottom:70px">
  <div class="container-fluid" style="background-color: #28AAE0;border-color: #28AAE0;">
    <div class="container">

      <div class="navbar-header col-md-3">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="glyphicon glyphicon-align-justify" style="color:#fff"></span>
        </button>

        <%= link_to("Mini Blog", {controller: 'posts', action: 'index'}, class: 'logo') %>
        
      </div>
      
      <%= render partial: "_general_part/form_search" %>

      <%= render partial: "_general_part/navbar" %>

    </div>
  </div>

  <div class="clearfix"></div>

  <div class="container">
    <div class="row" style="margin-top:10px;">
      <%= render partial: "/_general_part/notification" %>
      <%= yield %>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="navbar navbar-fixed-bottom" style="background-color: #28AAE0;border-color: #28AAE0;padding:15px;">
    <div class="container">
      <span style="color:#fff;margin:5px;font-size:1em">Mulodo 2015</span>
      <i id="go-to-top" class="glyphicon glyphicon-arrow-up pull-right" style="color:#fff;margin:5px;"></i>
    </div>
  </div>
</body>
</html>
