<style>
  .modal-backdrop{
    z-index: 0;
  }
  .styled-textarea{
    resize: none;
    width:100%;
    border-top:1px solid #D6D6D6;
    border-right:1px solid #D6D6D6;
    border-left:1px solid #D6D6D6;
    border-bottom: 0px;
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .styled-comment{
    border:1px solid #D6D6D6;
    margin-top:-5px;
    vertical-align: middle;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .container-content-comment{
    display: flex;
  }
  .content-user-comment{
    margin-top:5px;
    margin-left:10px;
    width:90%;
  }
  .name-user-comment-mobile,
  .name-user-comment-desktop{
    font-weight:bold
  }
  .name-user-comment-desktop{
    display: inline;
  }
  .name-user-comment-mobile{
    display: none;
  }
  .container-menu-icon{
    text-align:right;
    font-size:25px
  }
  @media (max-width: 768px) {
    .container-content-comment{
      display: inline;
    }

    .container-content-comment .avatar-user-comment{
      width: 100%;
      background-color: #ddd;
    }
    .content-user-comment{
      width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding: 5px;
      border-right: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-top: 0;
    }
    .name-user-comment-desktop{
      display: none;
    }
    .name-user-comment-mobile{
      display: inline;
    }
    .container-menu-icon{
      text-align:left;
    }
  }
</style>

<ol class="breadcrumb">
  <li><%= link_to("Home", {controller: 'posts', action: 'index'}) %></li>
  <li><%= link_to("Blog", {controller: 'posts', action: 'all'}) %></li>
  <li class="active">Detail</li>
</ol>
<!--Content-->
<% if @data_view %>
<div class="container">
  <!--About blog-->

  <div class="row">

    <div class="col-md-12">
      <h2 style="margin-top:0;margin-bottom:0"><%= @data_view[0]["title"] %></h2>
      <i class="glyphicon glyphicon-calendar"></i><span class="date"><%= Date.parse(@data_view[0]["created_at"]).strftime("%d-%m-%Y") %></span>
      <hr>
    </div>
    <div class="col-md-4">


      <div class="col-md-5">
        <a href="/user-blog?id=<%= @data_view[0]["user_id"] %>">
          <%=  image_tag(@data_view[0]['avatar'] ? DOMAIN_HOST+"uploads/"+VERSION_API+"/user/avatar/"+@data_view[0]['user_id'].to_s+"/"+@data_view[0]['avatar'].to_s : "system/200x200.gif",class:"img-responsive",alt:"Image Post") %>
          <!-- <img data-holder-rendered="true" src="http://insight.venturebeat.com/sites/all/modules/features/vb_intel_analysts/assets/images/analyst-placeholder-avatar.png" alt="Avatar" class="img-thumbnail img-responsive" style="width:100px;height:100px;"> -->
        </a>
      </div>
      <div class="col-md-7" style="margin-left:-35px">  
        <a href="/user-blog?id=<%= @data_view[0]["user_id"] %>">
          <%= @data_view[0]["lastname"] +" "+ @data_view[0]["firstname"]  %>
        </a><br/>
        <span class="date"> Date join: <%= Date.parse(@data_view[0]["joined_at"]).strftime("%d-%m-%Y") %></span>
      </div>
    </div>

  </div>
  <hr>
  <!-- End about blog -->

  <!-- Content blog -->
  <div class="row">
    <div class="col-md-12">
      <%= @data_view[0]["content"] %>
      <hr>
    </div>
  </div>
  <!-- End content blog -->
  <% end %> <!-- end @data_view -->
  <% if session[:id] && session[:token] %>
    <%= render partial: "form_create_new_comment" %>
  <% end %>
  <div id="all_comment_container">
    <% if @data_view2 %>
    <!-- Comments -->
    <div class="row">
      <div class="col-md-12">
        <h4 <%= (!session[:id] && !session[:token]) ? "style=margin-top:0px" : "style="  %>>This post has <%= @pagination["items"] %> comments:</h4>
        <hr>
      </div>
    </div>
    <% @data_view2.each { |v| %>
    <div class="row" style="margin-top:20px;">
      <div class="col-md-12 container-content-comment">
        <div class="avatar-user-comment">

          <!-- <img src="http://insight.venturebeat.com/sites/all/modules/features/vb_intel_analysts/assets/images/analyst-placeholder-avatar.png" alt="Avatar"style="width:80px;height:80px;"> -->
          <%=  image_tag(v['avatar'] ? DOMAIN_HOST+"uploads/"+VERSION_API+"/user/avatar/"+v['user_id'].to_s+"/"+v['avatar'].to_s : "system/200x200.gif",class:"img-responsive",alt:"Image Post", style:"width:80px;height:80px;") %>
          <span class="name-user-comment-mobile">
            <a href="/user-blog?id=<%= v["user_id"] %>"><%= v["lastname"]+" "+v["firstname"] %></a>
          </span>
        </div>
        <div class="content-user-comment">
          <span class="name-user-comment-desktop">
            <a href="/user-blog?id=<%= v["user_id"] %>"><%= v["lastname"]+" "+v["firstname"] %></a>
          </span>
          <span class="content-comment">
            <%= v["content"] %>
          </span>
          <% if v["user_id"] == session[:id] %>
          <p>
            <a class="edit-comment" href="#" role="button" data-toggle="modal" data-target="#myModal" data-id="<%= v["id"] %>">Edit</a>&nbsp;-
            <a class="delete-comment" href="#" role="button" data-toggle="modal" data-target="#myModal2" data-id="<%= v["id"] %>">Delete</a>
          </p>
          <% end %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <!-- End comments -->

  <!-- Pagination -->
  <div style="margin-left:auto;margin-right:auto;text-align:center;margin:20px;font-size:15px;">
    <a role="button" id="show_more_comments" style="cursor:pointer">Show more</a>
    </div>
    <!-- End pagination -->
    <% end %> <!-- end @data_view2 -->

    <!--Modal Edit-->
    <%= render partial: "form_edit_comment" %>
    <!-- End modal edit -->


    <!--Modal Delete-->
    <%= render partial: "modal_delete_comment" %>
    <!--End modal Delete-->

  </div>
  <!--End Content-->
  <script>
    count = 2;
    $('a#show_more_comments').click(function() {
      if (count <= <%= @pagination['pages'] %>) {
        $.ajax({
          url: "/posts/<%= params[:id] %>",
          type: 'GET',
          dataType: 'json',
          beforeSend: function(){
             $('a#show_more_comments').text('Loading');
          },
          data: {id: <%= params[:id] %>,
            page: count},
          })
        .done(function(data,status) {
           $('a#show_more_comments').text('Show more');
          count += 1;
          data_output = data["data"]["source"];
          // alert(data_output[0].firstname);
          for (var i = 0; i < data_output.length; i++) {
            div_row = $('<div class="row" style="margin-top:20px;"></div>');
            div_container_content_comment = $('<div class="col-md-12 container-content-comment"></div>');
            div_avatar_user_comment = $('<div class="avatar-user-comment"></div>');
            div_img = $('<img>', {src:"<%= DOMAIN_HOST %>uploads/<%= VERSION_API %>/user/avatar/"+data_output[i]["user_id"]+"/"+data_output[i]["avatar"],alt:"Avatar",style:"width:80px;height:80px;"});
            div_span_name_user_comment_mobile = $('<span class="name-user-comment-mobile"></span>');
            div_content_user_comment = $('<div class="content-user-comment"></div>');
            div_span_name_user_comment_desktop = $('<span class="name-user-comment-desktop"></span>');
            div_span_content_comment = $('<span class="content-comment"></span>');

            div_a_name_user_comment_mobile = $('<a href="/user-blog?id='+data_output[i].user_id+'">'+data_output[i].lastname+' '+data_output[i].firstname+'</a>');
            div_a_name_user_comment_desktop = $('<a href="/user-blog?id='+data_output[i].user_id+'">'+data_output[i].lastname+' '+data_output[i].firstname+'</a>');
            div_span_content_comment.append(data_output[i].content);

            div_content_user_comment.append(div_span_name_user_comment_desktop);
            div_content_user_comment.append('&nbsp;');
            div_content_user_comment.append(div_span_content_comment);

            div_span_name_user_comment_desktop.append(div_a_name_user_comment_desktop);
            

            div_span_name_user_comment_mobile.append(div_a_name_user_comment_mobile);
            div_avatar_user_comment.append(div_img);
            div_avatar_user_comment.append(div_span_name_user_comment_mobile);

            if(data_output[i].user_id == <%= session[:id] %>){
              div_p_ations_comment = $("<p></p>");
              div_a_edit_comment = $("<a class='edit-comment' href='#' role='button' data-toggle='modal' data-target='#myModal' data-id='"+data_output[i].id+"'>Edit</a>");
              div_a_delete_comment = $("<a class='delete-comment' href='#' role='button' data-toggle='modal' data-target='#myModal2' data-id='"+data_output[i].id+"'>Delete</a>");
              div_p_ations_comment.append(div_a_edit_comment);
              div_p_ations_comment.append('&nbsp;-&nbsp;');
              div_p_ations_comment.append(div_a_delete_comment);
              div_content_user_comment.append(div_p_ations_comment);
            }

            div_container_content_comment.append(div_avatar_user_comment);
            div_container_content_comment.append(div_content_user_comment);
            div_row.append(div_container_content_comment);

            $('#all_comment_container').append(div_row);
          }
        })
        .fail(function() {
          alert("error");
        });
      }else{
        $('a#show_more_comments').remove();
        return false;
      }
    });

      //GET CONTENT OF COMMENT TO EDIT
      $("body").on("click", ".edit-comment", function(){
        $('#id-edit-comment').val($(this).attr('data-id'));
        var temp_content_comment = $(this).parent().parent().find($('.content-comment')).html();
        var content_comment = temp_content_comment.trim();
        $("#text-edit-comment").val(content_comment);
      });

      $("body").on("click", ".delete-comment", function(){
        $('#delete-comment').val($(this).attr('data-id'));
      });

      //ADD A EMOTION TO TEXTAREA CREATE COMMENT
      $('.menu-icon-create-comment li a').click(function() {
        addEmotion($('#text-create-comment'),$(this));
      });

      //ADD A EMOTION TO TEXTAREA EDIT COMMENT
      $('.menu-icon-edit-comment li a').click(function() {
        addEmotion($('#text-edit-comment'),$(this));
      });

      function addEmotion(container,selector){
        var val_emotion = selector.find($('span:first-child')).attr('class');
        // container.val(container.val()+' ['+val_emotion+"] ");
        container.insertAtCaret(' <span class="'+val_emotion+'"></span> ');
      }

      // INSERTING TEXT AFTER CURSOR POSITION
      jQuery.fn.extend({
        insertAtCaret: function(myValue){
          return this.each(function(i){
            if (document.selection){
      //For browsers like Internet Explorer
      this.focus();
      var sel = document.selection.createRange();
      sel.text = myValue;
      this.focus();
    }
    else if (this.selectionStart || this.selectionStart == '0') {
      //For browsers like Firefox and Webkit based
      var startPos = this.selectionStart;
      var endPos = this.selectionEnd;
      var scrollTop = this.scrollTop;
      this.value = this.value.substring(0, startPos)+myValue+this.value.substring(endPos,this.value.length);
      this.focus();
      this.selectionStart = startPos + myValue.length;
      this.selectionEnd = startPos + myValue.length;
      this.scrollTop = scrollTop;
    } else {
      this.value += myValue;
      this.focus();
    }
  });
        }
      });
    </script>