
<div class="row" style="margin-top:10px;">
  <ol class="breadcrumb">
    <li><a href="index.html">Home</a></li>
  </ol>
  <!--Content-->
  <div class="container-fluid">
    <div class="row">
    <% if @data_view.present? %>
    <% @data_view.each { |v|   %>
      <div class="col-md-2">
        <a href="#">
          <% if v["image"] == "" %>
            <!-- <img data-holder-rendered="true" src="http://thuthuat365.com/wp-content/uploads/2014/08/photo_default_0.png" style="" class="img-responsive" alt=""> -->
            <%=  image_tag("system/200x200.gif",class:"img-responsive",alt:"Image Post") %>
          <% else %>
            <%=  image_tag(v["image"],class:"img-responsive",alt:"Image Post") %>
          <% end %>
        </a>  
      </div>
      <div class="col-md-4">
        <div class="title"><a href="#"><%= v["title"] %></a></div>
        <div class="date"> <%= v["created_at"] %> | Author: <a href="#"><%= v["lastname"].to_s + v["firstname"].to_s %></a></div>
        <div class="description">
          <%= v["description"] %>
        </div>
      </div>
    <% } %>
    <% end %>
    </div><br>


  </div>
</div>